<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmartClaim">
  <test thread-count="5" name="Test">
    <classes>
      <!-- <class name="com.smartclaims.testCases.TC_LoginDDTest_002"/> 
     <class name="com.smartclaims.testCases.TC_CreateClaim"/> -->
      <class name="com.smartclaims.testCases.TC_NoLiability"/>
     <!--   <class name="com.smartclaims.testCases.TC_DropClaim"/> 
      <class name="com.smartclaims.testCases.TC_LiabilityConNeg"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
